
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <%= link_to(root_url, class: "navbar-brand") do %>

       <%= image_tag("edison.png", style: "max-width:96px; margin-left: -30px; margin-top: -23px;", class: "rotate", :alt => "edison logo") %>
     <% end %>
   </div>

   
 </div><!-- /.container-fluid -->
</nav>
